body {
    direction: ltr;
    margin: 0;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
.wrapper {
    width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}
.header .header-holder{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header .menu ul {
    display: flex;
    gap: 30px;
}
.header .menu ul li a{
    color: #3acec2 ;
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 700;
}
.hero-slider {
    background:#3acec2;
    text-align: center;
    color: #ffffff;
    padding: 30px 0;
}
.hero-slider img {
    width: 200px;
    border-radius: 50%;
}
.content .content-wrapper {
    display: flex;
}
.content .column1 ,
.content .column3 {
    width: 25%;
    padding: 20px;
}
.content .column2 {
    width: 50%;
    padding: 20px;
}
.footer {
    background: #d9e4ea;
    text-align: center;
    margin-top: 30px;
    padding: 20px 0;
}
@media all and (max-width: 1150px) {
    .wrapper{
        width: 100%;
    }
} 
@media all and (max-width: 900px) {
    .content .content-wrapper {
        flex-wrap: wrap;
    }
    .content .column1,
    .content .column2 {
        width: 50%;
    }
    .content .column3 {
        width: 100%;
    }
}
@media all and (max-width: 700px) {
    .content .column1,
    .content .column2,
    .content .column3 {
        width: 100%;
    }
}
@media all and (max-width: 600px) {
    .header {
        margin: 15px 0;
    }
    .header .header-holder {
        flex-wrap: wrap;
       justify-content: center;
       flex-direction: column;
       gap: 15px;
    }
    .header .logo h1 {
        margin: 0;
        font-size: 24px;
    }

}